                <div class="col-lg-6">
                    <div class="card shadow-sm mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Mantenimiento de Roles</h3>
                            <p class="card-text">Gestiona la información de los roles</p>
                            <form id="roles-form" class="row g-3 mb-4" action="/mant-roles" method="POST">
                                <div class="col-md-6">
                                    <label for="id_rol" class="form-label">ID Rol</label>
                                    <input type="number" class="form-control" id="id_rol" name="id_rol">
                                </div>
                                <div class="col-md-6">
                                    <label for="nombre_rol" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre_rol" name="nombre_rol">
                                </div>
                                <div class="col-12">
                                    <label for="descripcion_rol" class="form-label">Descripción</label>
                                    <input type="text" class="form-control" id="descripcion_rol" name="descripcion_rol">
                                </div>
                                <div class="col-12 d-flex justify-content-end" style="margin-top: 20px;">
                                   <button type="button" class="btn btn-secondary me-2">Cancelar</button>
                                    <button type="submit" id="guardar" class="btn btn-primary"><i class="fas fa-bookmark"></i> Guardar  </button>
                                    <button type="button" id="modificar" class="btn btn-warning d-none"> <i class="fas fa-edit"></i>Modificar</button>
                                </div>
                            </form>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID Rol</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each roles}}
                                    <tr class="clickable-row" 
                                        data-id_rol="{{this.id_rol}}" 
                                        data-nombre_rol="{{this.nombre_rol}}" 
                                        data-descripcion_rol="{{this.descripcion_rol}}">
                                        <td>{{this.id_rol}}</td>
                                        <td>{{this.nombre_rol}}</td>
                                        <td>{{this.descripcion_rol}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>